<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <add name="SqlContext" connectionString="Server=dev-sql01; Database=Dealeron; Integrated Security=False; UID=cmsuser; PWD=cmsuser1; ConnectionTimeout=40;" />
    <add name="SqlContext" connectionString="Server=dev-sql01; Database=EDealer; Integrated Security=False; UID=cmsuser; PWD=cmsuser1; ConnectionTimeout=40;" />
  </ConnectionStrings>
</configuration>